.empty-tip
	display inline-block
	vertical-align middle
	width 269px
	height 267px
	background url('images/empty.png') no-repeat center center
	position relative
	.tip
		height 100px
		width 220px
		position absolute
		bottom 33px
		left 24px
		transform rotate(-8.5deg)
		line-height 100px
		text-align center
		overflow hidden
		span
			display inline-block
			vertical-align middle
			color #048c80
			font-weight bold
			font-size 15px
			line-height 1.3