.contextmenu
    height: 300px;
    position: absolute;
    //display: none;
    width: 200px;
    top:0px;
    left:0px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;