.contextmenu
    height: auto;
    position: absolute;
    display: none;
    top:0px;
    left:0px;
    min-width: 100px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding 2px 0;
    ul
        padding 0;
        margin: 0;
    li
        &:before
            content ''
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 2px;
        cursor: default;
        text-align: left;
        margin: 0 2px
        font-size 12px;
        line-height: 20px;
        list-style: none;
        border: 1px solid transparent;
        a
            display: inline-block;
        &:hover
            background: #fff5d4;
            border-color: #dcac6c;
        &.line
            border: 0px;
            line-height: 1px;
            margin: 1px 2px;
            height: 1px;
            font-size 0px;
            background: #ccc;