.calendar
	*
		font-family Microsoft Yahei
	h1
		span
			width 80px
			background #048c80
			color white
			line-height 80px
			margin-top 10px
	.calendar-panel
		td
			border 1px solid #ccc
			vertical-align: top;
		th
			background #048c80
			color white
			border-right 1px solid white
			&:last-child
				border-right-color #048c80
		tbody
			& tr:first-child
				td
					border-top-width 0px
