table.sheet
    border-collapse: collapse
    table-layout: fixed
    width: 100%
    td
        height: 18px
        text-align: center
        border: 1px solid #ccc
        &.left
            text-align: left
        &.right
            text-align: right