$themecolor = $themecolor is defined ? $themecolor : #ccc;

.htmleditor
    line-height: 1
    font-size: 0px
    border: 1px solid $themecolor
    overflow: hidden
    box-shadow: 0 0 5px $themecolor

@import './contextmenu.styl';