.icon-table-cell
    &:before
        height: 12px;
        width:13px;
        background: url('images/table-cell.png') no-repeat;
.icon-add-caption
.icon-del-caption
    &:before
        height: 15px;
        width:15px;
.icon-add-caption
    &:before
        background: url('images/add-caption.png') no-repeat;
.icon-del-caption
    &:before
        background: url('images/del-caption.png') no-repeat;
.icon-del-table
    &:before
        height: 12px;
        width:14px;
        background: url('images/del-table.png') no-repeat;
.icon-merge2right
.icon-merge2bottom
    &:before
        height: 13px;
        width: 16px;
.icon-merge2right
    &:before
        background: url('images/merge2right.png') no-repeat;
.icon-merge2bottom
    &:before
        background: url('images/merge2bottom.png') no-repeat;
