.schedule-item
    padding 0 5px 5px 5px
    line-height 1.5
    a
    span
        line-height 28px
        display block
.schedule-draggable
    text-align: center;
    background: #048c80;
    a
        line-height 28px
        display block
        color rgba(255, 255, 255, .8)
        text-decoration: none
        &:hover
            color white
.calendar
    .schedule-drop-container
        width: 100%;
        position: absolute;
        left: 0;
        .schedule-drop
            float:left;
            .schedule-to
                background: rgba(255, 0, 0 ,.2);
                color: white;