table.sheet
    border-collapse: collapse
    display: table;
    width: 100%
    margin-bottom: 10px;
    td
        padding: 5px 10px;
        text-align: center
        border: 1px solid #ccc
        &.left
            text-align: left
        &.right
            text-align: right
    caption
        padding: 5px 10px;
        text-align: center;