table.sheet
    border-collapse: collapse
    display: table;
    margin-bottom: 10px;
    td
        padding: 5px 10px;
        text-align: left
        border: 1px solid #ccc
        &.left
            text-align:left;
        &.center
            text-align: center
        &.right
            text-align: right
    caption
        padding: 5px 10px;
        text-align: center;
        border 1px dotted #ccc;
        border-bottom-color: transparent;
        word-break: break-all
.line
    position: absolute;
    background:red;
    margin: 0;
    padding: 0;
    &.v
        width: 1px;
    &.h
        height: 1px;
        
    